# Build Files
bin/
build/
target/
tmp/
logs/
*.class
*.tmp
*.bak
*.swp
*.sqlite

# Package Files
*.jar
*.war
*.ear

# Eclipse
.classpath
.project
.settings
.metadata
!EclipseSettingExample/*

# Eclipse Plugin
.dbeaver-data-source.*

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
